# Git
# Ignore the .gitignore file itself if you want to prevent it from being versioned.
# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environment
# Poetry default virtual environment name
.venv/
# Other common names
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/
